<main>
    <div class="search-location">
        search
    </div>
    <div class="content">
        <div class="top">
            <div class="location">
                location       
            </div>
            <div class="add-location">
                add location
            </div>
        </div>
        <div class="title">
            <h1>scattered cloud</h1>
        </div>
        <div class="days-weather">
            <div class="day">day</div>
            <div class="day">day</div>
            <div class="day">day</div>
            <div class="day">day</div>
            <div class="day">day</div>
        </div>
    </div>
</main>