<main>
    <div class="search-location">
        search
    </div>
    <div class="content">
        <div class="top">
            <mat-grid-list cols="2" rowHeight="2:1">
                <mat-grid-tile>1</mat-grid-tile>
                <mat-grid-tile>2</mat-grid-tile>
                <mat-grid-tile>3</mat-grid-tile>
                <mat-grid-tile>4</mat-grid-tile>
            </mat-grid-list>
            <div class="location">
                location
            </div>
            <div class="add-location">
                add location
            </div>
        </div>
        <div class="title">
            <h1>scattered cloud</h1>
        </div>
        <div class="days-weather">
            <div class="day">day</div>
            <div class="day">day</div>
            <div class="day">day</div>
            <div class="day">day</div>
            <div class="day">day</div>
        </div>
    </div>
</main>