<mat-grid-list cols="5" rowHeight="1:1" class="days-weather">
    <mat-grid-tile class="day">
        <mat-card>day</mat-card>
    </mat-grid-tile>
    <mat-grid-tile class="day">
        <mat-card>day</mat-card>
    </mat-grid-tile>
    <mat-grid-tile class="day">
        <mat-card>day</mat-card>
    </mat-grid-tile>
    <mat-grid-tile class="day">
        <mat-card>day</mat-card>
    </mat-grid-tile>
    <mat-grid-tile class="day">
        <mat-card>day</mat-card>
    </mat-grid-tile>
</mat-grid-list>