<main>
    <mat-card-header class="search-location">
        <mat-form-field>
            <input matInput placeholder="Search">
        </mat-form-field>
    </mat-card-header>
    <mat-card-content class="content">
        <mat-card>
            <mat-grid-list cols="2" rowHeight="4:1" class="top">
                <mat-grid-tile class="location">
                    <img src="assets/images/weather.png" alt="images">
                    <p>Tel aviv</p>
                    <p>temperature</p>
                </mat-grid-tile>
                <mat-grid-tile class="add-location">
                    <button mat-button>
                        <mat-icon>favorite_border</mat-icon> Add to Favorites
                    </button>
                </mat-grid-tile>
            </mat-grid-list>
            <mat-card-header class="title">
                <h1>Scattered cloud</h1>
            </mat-card-header>
            <mat-grid-list cols="5" rowHeight="2:1" class="days-weather">
                <mat-grid-tile class="day">
                    <mat-card>day</mat-card>
                </mat-grid-tile>
                <mat-grid-tile class="day">
                    <mat-card>day</mat-card>
                </mat-grid-tile>
                <mat-grid-tile class="day">
                    <mat-card>day</mat-card>
                </mat-grid-tile>
                <mat-grid-tile class="day">
                    <mat-card>day</mat-card>
                </mat-grid-tile>
                <mat-grid-tile class="day">
                    <mat-card>day</mat-card>
                </mat-grid-tile>
            </mat-grid-list>
        </mat-card>
    </mat-card-content>
</main>