<main>
    <mat-card-header class="search-location">
        <app-city-search></app-city-search>
        <!-- <mat-form-field>
            <input matInput placeholder="Search">
        </mat-form-field> -->
    </mat-card-header>
    <mat-card-content class="content">
        <mat-card rowHeight="4:1">
            <mat-grid-list cols="2" rowHeight="4:1" class="top">
                <mat-grid-tile class="location">
                    <!-- <div *ngIf="current"> -->
                    <!-- <div fxLayout="row">
                            <div fxFlex="20%">
                                <img src="assets/images/weather.png" alt="images">
                            </div>
                            <div fxFlex="60%" class="mat-title no-margin">
                                {{ current.city }}, {{ current.country }}
                            </div>
                        </div> -->
                    <div fxFlex="10%">
                        <img src="assets/images/weather.png" alt="images">
                        <!-- <img style="zoom: 175%; margin-bottom: 32px;" [src]="current.image" /> -->
                    </div>
                    <div fxFlex="90%" class="right no-margin">
                        <p>{{ current.city }}, {{ current.country }}</p>
                        <p class="mat-display-3">
                            {{ current.temperature | number: '1.0-0' }}
                            <span class="mat-display-1 unit">&#8451;</span>
                        </p>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile class="add-location">
                    <button mat-button>
                        <mat-icon>favorite_border</mat-icon> Add to Favorites
                    </button>
                </mat-grid-tile>
            </mat-grid-list>
            <mat-card-header class="title">
                <h1>Scattered cloud</h1>
            </mat-card-header>
            <mat-grid-list cols="5" rowHeight="1:1" class="days-weather">
                <mat-grid-tile class="day">
                    <mat-card>day</mat-card>
                </mat-grid-tile>
                <mat-grid-tile class="day">
                    <mat-card>day</mat-card>
                </mat-grid-tile>
                <mat-grid-tile class="day">
                    <mat-card>day</mat-card>
                </mat-grid-tile>
                <mat-grid-tile class="day">
                    <mat-card>day</mat-card>
                </mat-grid-tile>
                <mat-grid-tile class="day">
                    <mat-card>day</mat-card>
                </mat-grid-tile>
            </mat-grid-list>
        </mat-card>
    </mat-card-content>
</main>